---
interface Props {
    header: string;
    children: any;
}

const { header } = Astro.props;
---

<li class="accordion__item">
    <h3>
        <button
            id="accordion-header-1"
            class="accordion__header"
            aria-expanded="false"
            aria-controls="accordion-panel-1"
            onclick="toggleAccordionItem()"
        >
            {header}

            <svg
                fill="#333"
                class="header__toggle-indicator"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 407.437 407.437"
                xml:space="preserve"
                stroke="#333"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
          <polygon
              points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "
          ></polygon>
        </g></svg
            >
        </button>
    </h3>
    <div
        id="accordion-panel-1"
        role="region"
        class="accordion__panel"
        aria-labelledby="accordion-header-1"
    >
        <div class="panel__inner">
            <slot />
        </div>
    </div>
</li>

<style is:global>
    .accordion__wrapper {
        list-style-type: none;
        padding: 0;
    }

    .accordion__item,
    .accordion__header {
        width: min(100%, 800px);
        margin: auto;
    }

    .accordion__header {
        display: flex;
        justify-content: space-between;
        border: none;
        padding-block: 1rem;
        font-size: 1.1rem;
        font-weight: 400;
    }

    .accordion__item .accordion__header {
        border-bottom: 1px solid #aaa;
        background: none;
        text-align: left;
    }

    .accordion__item .accordion__header:focus {
        outline-offset: -6px;
    }

    .accordion__item:only-of-type .accordion__header,
    .accordion__item:last-of-type .accordion__header {
        border: none;
        border-bottom: 1px solid #aaa;
    }

    .accordion__item:only-of-type .accordion__panel,
    .accordion__item:last-of-type .accordion__panel {
        border-bottom: none;
        border-bottom: 1px solid #aaa;
    }

    .header__toggle-indicator {
        width: 16px;
        align-self: center;
        fill: var(--textColor);
    }

    .accordion__panel {
        visibility: hidden;
        overflow: hidden;
        height: 0;
        border-left: none;
        border-right: none;
        transition: height 0.3s ease-in-out, visibility 0s 0.3s;
        border-bottom: 1px solid #aaa;
    }

    .panel__inner {
        padding-block: 1rem;
        font-size : 1rem;
    }

    .is-active .accordion__header {
        border: none;
    }

    .is-active .accordion__panel {
        visibility: visible;
        height: auto;
        transition: height 0.3s ease-in-out, visibility 0s 0s;
    }
</style>