---
import Socials from "../Socials.astro";
import {Image} from 'astro:assets'

const menuItems = [
  {
    title: "Mon CV",
    path: "/cv/"
  }
];
---

<hr/>
<footer transition:name="footer">

  { 0 === 1 &&
          <ul class="list-inline">
            {
              menuItems.map((item) => (
                      <li class="list-inline-item">
                          <a href={ item.path }>{ item.title }</a>
                      </li>
              ))
            }
          </ul> }

    <section class="footer-cards">

        <div class="footer-card">
            <Image
                src="/logo/email.svg"
                alt=""
                width="40"
                height="40"
                format="svg"
            />
            <p class="footer-card__title">Email</p>
            <a href="mailto:billyklotz789@gmail.com" class="card-info">billyklotz789@gmail.com</a>
            <Image
                src="/logo/location.svg"
                alt=""
                width="40"
                height="40"
                format="svg"
            />
            <p class="footer-card__title">Localisation</p>
            <p class="card-info">Ile-de-France, France</p>
        </div>

        <div class="footer-card">
            <p class="footer-card__title">Restons connectés!</p>
            <Socials/>
        </div>

    </section>


</footer>

<style>
  footer {
    max-width : 1196px;
    margin    : auto auto 1rem;
  }

  .footer-cards {
    display        : flex;
    flex-direction : column;
    gap            : 0.5em;
  }

  .footer-card {
    padding-block   : 4em;
    background      : var(--accentBackgroundColor);

    flex-grow       : 1;
    flex-basis      : 0;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
  }

  .footer-card__title {
    font-size    : 1.3em;
    margin-bottom : 0.2em;
    font-weight  : 600;
  }

  .card-info {
    margin-bottom : 0.8em;
  }

  footer ul {
    padding      : 0;
    list-style   : none;
    text-align   : center;
    margin-block : 4em;
  }

  footer li {
    padding      : 0 0.7em;
    margin-block : 0.4em;
  }

  hr {
    width      : 95%;
    margin     : 5em auto 3em;
    border     : none;
    border-top : 1px solid var(--accentBackgroundColor);
  }

  @media screen and (min-width : 500px) {
    .footer-cards {
      display        : flex;
      flex-direction : row;
    }
  }
</style>