---
import Socials from "../Socials.astro";
const menuItems: {
    title: string;
    path: string;
    children?: { title: string; path: string }[];
}[] = [
    {
        title: "Accueil",
        path: "/"
    },
    {
        title: "Projets",
        path: "/projets"
    },
    {
        title: "Mon CV",
        path: "/cv"
    },
    {
        title: "Surprise",
        path: "/contact"
    },
];
---

<header class="header" transition:name="header">
    <div class="container">
        <input aria-label="Mobile Menu" type="checkbox" class="header__burger"/>

        <a href="/public" class="header__logo">
            <img src="/logo/contact.svg">
        </a>

        <nav class="header__links">
            {
                menuItems.map((item) => (
                    <>
                        { item.children && (
                            <a class="header__link" href={ item.path }>{ item.title }</a>
                            <div class="header__sublinks">
                                { item.children.map((children) => (
                                    <a href={ children.path }>{ children.title }</a>
                                )) }
                            </div>
                        ) }

                        { !item.children && (
                            <a class="header__link" href={ item.path }>{ item.title }</a>
                        ) }
                    </>
                ))
            }
        </nav>
    </div>
</header>

<style lang="scss">

    .header {
        --bgHover: #F3F3F3;
        --colorHover: #111;


        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        position: sticky;
        z-index: 5;
        top: 0;
        background-color: white;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1196px;
        margin : auto;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .header__logo {
        transition: background-color 0.3s ease-in-out;
        padding: 3px ;
    img{
        max-width: 66px;
        max-height: 42px;
    }


    &:hover,
    &:focus {
         background-color: #f5f5f5;
     }
    }

    .header__links {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: .5em 0;
        border-top: solid 1px #e5e5e5;
        width: 100%;
    }


    .header__link {
        color: #333;
        text-decoration: none;
        padding: .5em 1em;
        white-space: nowrap;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover,
    &:focus {
         background-color: var(--bgHover);
         color: var(--colorHover);
     }

    &.active {
         background-color: #f5fafb;
     }

    + .header__sublinks {
    > a {
        display: block;
        padding: .25em .5em;
        margin-left: 1em;
        color: #55626a;
        font-size: 0.875rem;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover,
    &:focus {
         color: var(--colorHover);
         background-color: var(--bgHover);
     }
    }
    }
    }

    .header__burger {
        position: absolute;
        right: 0;
        top: 0;
        width: 3.25rem;
        height: 3rem;
        margin: 0;
        appearance: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

    &::after {
         content: "";
         height: 1.25rem;
         width: 1.25rem;
         top: 1rem;
         left: 1rem;
         position: absolute;
         background: linear-gradient(
             to bottom,
             #555 20%,
             transparent 20% 40%,
             #555 40% 60%,
             transparent 60% 80%,
             #555 80% 100%
         );
     }

    &:checked {
    ~ .header__links {
        display: flex;
    }
    }
    }

    @media only screen and (min-width: 750px) {
        .container{
        display         : flex;
        flex-direction  : row;
        align-items     : center;
        justify-content : center;
        margin          : 0 auto 3.2em;
        }

        .header__logo {
            padding-block: 6px;
        }

        .header__links {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: center;
            padding: 0;
            border-top: none;
            width: auto;
        }

        .header__link {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 3.4rem;
            padding: .6em .62em;

    &:hover,
    &:focus {
        + .header__sublinks {
            height: 3rem;
        }
    }

    + .header__sublinks {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 54px;
        height: 0;
        overflow: hidden;
        background-color: #f5fafb;
        border-top: solid 1px #e5e5e5;
        transition: all 0.3s ease-in-out;

    > a {
        padding: 10px;
        margin-left: 0;
        color: #333;
        font-size: 1rem;
    &:hover {
         text-decoration: underline;
     }
    }

    &:hover,
    &:focus-within {
         height: 3rem;
     }
    }
    }

    .header__burger {
        display: none;
    }
    }
    }
</style>