---
import ArticleLayout     from "../../layouts/ArticleLayout.astro";
import heroImage         from "../../assets/blog/aoc2023/aoc2023-home.png"
import userStoryMapImage from "../../assets/blog/atike/atike-user-story-map.png";
import { Image }         from "astro:assets";
import Accordion         from "../../components/shared/Accordion.astro";
import AccordionItem     from "../../components/shared/AccordionItem.astro";

const java = "{Java}"
const go = "{Go}"
const haskell = "{Haskell}"
---

<ArticleLayout titre="Advent of Code 2023"
               description="Article descriptif de ma démarche pour la completion de l'advent of code 2023."
               blogTitle="Advent of Code 2023: Les différents paradigmes de programmation"
               src={ heroImage }
               alt="Advent Of Code, page à propos"
               techstack={ ["Java", "Golang", "Haskell"] }
               date="27 Novembre 2023"
               id="article-412442"

>
    <ul class="links">
        <li>
            <a href="https://github.com/beuleubeuleu/adventOfCode2023"
               target="_blank">
                Lien vers mon repo de solutions
            </a>
        </li>
    </ul>

    <Accordion>
        <AccordionItem header="Too Long Didn't Read">
            <p>L'Advent of code est encore en cours, le TLDR sera dispo à la fin pour conclure mon expérience.</p></AccordionItem>
    </Accordion>

    <h2>Ma démarche</h2>
    <p>Pour cette édition 2023 de l'Advent of Code, j'ai pris la décision de m'aventurer au-delà des
       horizons familiers du développement web. <br> Mon objectif ? Élever mon expertise dans le domaine de la
       programmation
       de manière holistique.</p>

    <p>Au cœur de cette aventure, trois nouveaux langages ont émergé comme des boussoles guidant ma compréhension :
       Java, le titan orienté objet, Golang, l'artiste impératif, et Haskell, le champion de la programmation
       fonctionnelle. Chacun de ces langages offre une fenêtre unique sur des paradigmes distincts.</p>

    <p>Je taclerais donc les katas en utilisant un nouveau langage chaque semaine, tout en plongeant
       dans les bonnes pratiques spécifiques à chaque paradigme. Chaque semaine, une nouvelle langue devient non
       seulement une clé pour résoudre les énigmes, mais aussi une fenêtre pour découvrir les nuances de programmation
       propres à chaque écosystème. </p>

    <h2>Semaine 1: Orienté Objet { java }</h2>

    <h2>Semaine 2: Fonctionnel { haskell }</h2>

    <h2>Semaine 3: Impératif { go }</h2>

    <h2>Semaine4: ///</h2>
</ArticleLayout>

<style>
  p, ul {
    margin    : auto auto 1em;
    max-width : 800px;
  }

  h2, h3 {
    text-align : center;
    margin     : 2em auto 1em;
  }

  h3 {
    font-size : 1rem;
  }

  .textAndImage {
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
    gap             : 1em;
    flex-direction  : column;

    max-width       : 800px;
    margin          : auto auto 1em;
  }

  .textAndImage p {
    margin : 0 0 1em;
  }

  .textAndImage img {
    width  : min(100%, 350px);
    height : auto;
    margin : auto;
  }

  @media only screen and (min-width : 800px) {
    .textAndImage {
      flex-direction : row;
    }
  }

</style>