---
import Layout    from "../layouts/Layout.astro";
import { Image } from "astro:assets"
import cvPdf           from "../assets/CV-Billy-Klotz-FR.png"
import Breadcrumbs     from "../components/shared/Breadcrumbs.astro";
import BreadcrumbsItem from "../components/shared/BreadcrumbsItem.astro";
---

<Layout titre="CV" description="Mon cv en lecture ou téléchargement">
    <main>
        <Breadcrumbs>
            <BreadcrumbsItem
                href="/"
                label="Page d'accueil"
            />
            <BreadcrumbsItem
                currentPage={ true }
                label="Mon CV"
            />
        </Breadcrumbs>
        <h1>Mon CV</h1>

        <section>
            <ul class="links">
                <li>
                    <a href="/CV-Billy-Klotz-FR-v4.pdf" target="_blank">Voir le document en pdf <span class="italic">(pour cliquer sur les liens)</span></a>
                </li>
                <li>
                    <a href="/CV-Billy-Klotz-FR-v4.pdf" download> Télécharger CV-Billy-Klotz-FR-v4 (.pdf 251ko )</a>
                </li>
            </ul>
            <Image src={ cvPdf } alt="cv" width="960" height="1354" class="cv" format="webp" loading="eager"></Image>
        </section>
    </main>
</Layout>

<style>
  main {
    width   : min(100%, 1196px);
    margin  : auto;
    padding : .5em;
  }

  h1 {
      font-size : 2em;
      color     : var(--textColor);
  }

  section {
      display : flex;
      justify-content : center;
      align-items : center;
      flex-direction: column;
      gap: 1em;
      margin-top : 1em;
  }

  .links{
      list-style-type: "-";
  }

  .cv {
    width        : min(100%, 750px);
      height: auto;
  }

</style>
