---
import Layout from '../layouts/Layout.astro';
import Breadcrumbs from "../components/Breadcrumbs.astro";
import BreadcrumbsItem from "../components/BreadcrumbsItem.astro";
---

<Layout title="Accueil">
	<Breadcrumbs>
		<BreadcrumbsItem
				href="/"
				label="Page d'accueil"
		/>
	</Breadcrumbs>
	<main>

	</main>
</Layout>

<style>

</style>
