---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
---

<Layout titre="Accueil" description="Page d'accueil du portfolio de Billy Klotz">
	<main>
		<Hero/>
	</main>
</Layout>

<style>
	main {
		width: min(100%, 1196px);
		margin : auto;
		padding : .5em;
	}
</style>
