---

---
<section class="hero">
    <div class="text">
        <p class="titre">Bonjour!</p>
        <p class="sous-titre">Billy Klotz, Developpeur Web</p>
        <p class="desc">
            En tant que développeur web
            certifié expert qualité web par
            <a href="https://www.opquast.com/rendre-le-web-meilleur/">Opquast</a>, j'utilise mon expertise Full Stack pour concevoir des solutions performantes et
            accessibles.
        </p>
    </div>
</section>

<style>
    .text {
        margin-top : 20vh;
        max-width: 400px;
    }
  .titre {
    font-size   : 3em;
    font-weight : 600;
    color       : #444;
  }
  .sous-titre {
      font-size   : 2em;
      color       : #444;
  }
  .desc{
      margin-top : 1em;
  }
</style>