---

---
<section class="hero">
    <div class="text">
        <p class="titre">Bonjour!</p>
        <p class="sous-titre">Billy Klotz, Developpeur Web</p>
        <p class="desc">
            En tant que développeur web
            certifié expert qualité web par
            <a href="https://www.opquast.com/rendre-le-web-meilleur/" target="_blank">Opquast</a>
            , j'utilise mon expertise Full Stack pour concevoir des solutions performantes et
            accessibles.
        </p>
    </div>
    <div class="cta">
        <a href="/projets/">Mes Projets</a>
        <a href="/contact/">Contactez-moi!</a>
    </div>
</section>

<style>
  .hero {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : flex-start;
    gap             : 2em;

    padding-top     : 175px;
  }

  .text {
    max-width : 400px;
  }

  .titre {
    font-size   : 3em;
    font-weight : 600;
  }

  .sous-titre {
    font-size : 2em;
    color     : var(--accentTextColor);
  }

  .desc {
    margin-top : 1em;
  }

  .cta {

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : flex-start;
      gap: 1em;
  }


  .cta a {
    width         : 100%;
    color         : var(--backgroundColor);
    font-weight   : 600;
    font-size     : 1.2em;
    background    : var(--backgroundUI);
    padding       : .8em 1.6em;
    border-radius : 3px;
    box-shadow    : rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    transition    : all .1s linear;
  }

  .cta a:hover {
    background : var(--backgroundColor);
    box-shadow : rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    color      : var(--textColor);
  }

  .cta a:active {
    transform: translate(2px, -2px);
  }

  @media screen and (min-width : 450px) {
      .hero {
          width: 450px;
          margin : auto;
      }

  }

  @media screen and (min-width : 675px) {
    .hero {
        width : auto;
      flex-direction : row;
      padding-top    : 100px;
    }

    .cta {
      align-self : center;
    }

  }

</style>