---
import { projetEnCours } from "../data/projetEnCours";
import ArticleCard       from "./blog/ArticleCard.astro";
import { Image }         from "astro:assets";
---
<section>
    <div class="fade">
        <h2>Projets en cours</h2>
        <div class="container">
          { projetEnCours.map((article, index) =>
                  <div class=`projet fade${ index }`>

                      <ArticleCard title={ article.titre }
                                   desc={ article.description }
                                   techstack={ article.techStack }
                                   url={ article.href }
                                   type={ article.type }
                                   id={ article.id }/>

                    { article.href?
                      <a href={ article.href }> Voir l'article</a>: <p>Article disponible prochainement...</p> }
                  </div>) }
        </div>
    </div>
    <div>
        <h2>parcours</h2>
        <ul>
            <li>stopped school early?</li>
            <li>working</li>
            <li>dev certif on the side</li>
            <li>Simplon RNCP niveau 5</li>
            <li>Opquast expert</li>
        </ul>
    </div>
</section>

<style>
  section {
    margin-top : 8em;
  }

  .projet {
    padding         : 1em;
    border-radius   : 4px;
    margin-top      : 2em;
    margin-inline   : auto;
    width           : 288px;

    display         : flex;
    flex-direction  : column;
    gap             : 1em;
    justify-content : center;
    align-items     : flex-start;
  }

  .container {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    align-items     : flex-start;
  }

  .fade {
    animation          : fade both;
    animation-timeline : view();
    animation-range    : cover 0% cover 70%
  }
  .fade0 {
    animation          : fade0 both;
    animation-timeline : view();
    animation-range    : cover 0% cover 70%
  }

  .fade1 {
    animation          : fade1 both;
    animation-timeline : view();
    animation-range    : cover 0% cover 70%
  }

  .fade2 {
    animation          : fade2 both;
    animation-timeline : view();
    animation-range    : cover 0% cover 70%
  }

  .fade3 {
    animation          : fade3 both;
    animation-timeline : view();
    animation-range    : cover 0% cover 70%
  }

  @media (min-width:1200px) {
      @keyframes fade {
          0% {
              opacity   : 0;
              transform : translateY(500%);
          }
          50% {
              opacity   : 1;
              transform : translateY(0);
          }
          100% {
              opacity : 1;

          }
      }

      @keyframes fade3 {
          0% {
              opacity   : 0;
              transform : translateY(500%);
          }
          40% {
              opacity   : 1;
              transform : translateY(200%);
          }
          100% {
              opacity   : 1;
              transform : translateY(0);
          }
      }

      @keyframes fade0 {
          0% {
              opacity   : 0;
              transform : translateY(500%);
          }
          30% {
              opacity   : 1;
              transform : translateY(0);
          }
          100% {
              opacity : 1;
          }
      }

      @keyframes fade1 {
          0% {
              opacity   : 0;
              transform : translateY(500%);
          }
          60% {
              opacity   : 1;
              transform : translateY(0);
          }
          100% {
              opacity : 1;
          }
      }

      @keyframes fade2 {
          0% {
              opacity   : 0;
              transform : translateY(500%);
          }
          90% {
              opacity   : 1;
              transform : translateY(0);
          }
          100% {
              opacity : 1;
          }
      }
  }

</style>