---
import { projetEnCours } from "../data/projetEnCours";
import ArticleCard       from "./blog/ArticleCard.astro";
import { Image }         from "astro:assets";
---
<section>
    <div class="fade">
        <h2>Projets en cours</h2>
        <div class="container">
          { projetEnCours.map((article, index) =>
                  <div class=`projet fade${ index }`>

                      <ArticleCard title={ article.titre }
                                   desc={ article.description }
                                   techstack={ article.techStack }
                                   url={ article.href }
                                   img={ article.img? article.img: undefined }
                                   type={ article.type }
                                   id={ article.id }/>

                    { article.href?
                      <a href={ article.href }> Voir l'article</a>:
                      <p class="italic">Article disponible prochainement...</p> }
                  </div>) }
        </div>
    </div>
  {/*
   <div>
   <h2>parcours</h2>
   <ul>
   <li>stopped school early?</li>
   <li>working</li>
   <li>dev certif on the side</li>
   <li>decouverte clean code/ software craftsmanship</li>
   <li>Simplon RNCP niveau 5</li>
   <li>Opquast expert</li>
   </ul>
   </div>*/ }
</section>

<style>
  section {
    margin-top : 8em;
  }

  .projet {
    padding         : 1em;
    border-radius   : 4px;
    margin-top      : 2em;
    margin-inline   : auto;
    width           : 288px;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : flex-start;
    gap             : .5em;
  }

  .container {
    display               : grid;
    justify-content       : space-around;
    align-items           : flex-start;
    grid-template-columns : repeat(auto-fit, 288px)
  }

  .fade {
    animation          : fade both;
    animation-timeline : view();
    animation-range    : cover 20% cover 30%
  }

  .fade0 {
    animation          : fade0 both;
    animation-timeline : view();
    animation-range    : cover 20% cover 30%
  }

  .fade1 {
    animation          : fade1 both;
    animation-timeline : view();
    animation-range    : cover 20% cover 30%
  }

  .fade2 {
    animation          : fade2 both;
    animation-timeline : view();
    animation-range    : cover 20% cover 30%
  }

  .fade3 {
    animation          : fade3 both;
    animation-timeline : view();
    animation-range    : cover 20% cover 30%
  }

  @media (min-width : 1200px) {
    @keyframes fade {
      0% {
        opacity   : 0;
        transform : translateY(50%);
      }
      100% {
        opacity : 1;
      }
    }

    @keyframes fade0 {
      0% {
        opacity   : 0;
        transform : translateY(100%);
      }
      60% {
        opacity : 1;
      }
      100% {
        opacity : 1;
      }
    }

    @keyframes fade1 {
      0% {
        opacity   : 0;
        transform : translateY(100%);
      }
      30% {
        opacity   : 0;
        transform : translateY(100%);
      }
      100% {
        opacity : 1;
      }
    }

    @keyframes fade2 {
      0% {
        opacity   : 0;
        transform : translateY(100%);
      }
      20% {
        opacity   : 0;
        transform : translateY(100%);
      }
      70% {
        opacity   : 1;
        transform : translateY(0);
      }
      100% {
        opacity : 1;
      }
    }

    @keyframes fade3 {
      0% {
        opacity   : 0;
        transform : translateY(100%);
      }
      50% {
        opacity   : 0;
        transform : translateY(100%);
      }
      100% {
        opacity   : 1;
        transform : translateY(0);
      }
      100% {
        opacity   : 1;
        transform : translateY(0);
      }
    }
  }

</style>