---


---

<div class="socials">
    <a href="www.linkedin.com/in/billy-klotz" target="_blank" aria-label="Voir ma page linked in">
        <img class="social-img" src="/logo/linkedIn.svg" alt="logo linked in" width="64" height="64" loading="lazy">
    </a>
    <a href="https://github.com/beuleubeuleu" target="_blank" aria-label="Visitez ma page github">
        <img class="social-img" src="/logo/github.svg" alt="logo github" width="64" height="64" loading="lazy">
    </a>
</div>
<a href="https://www.codewars.com/users/beuleubeuleu" target="_blank" aria-label="Voir mon profile sur Codewars">
    <img class="codewars" src="https://www.codewars.com/users/beuleubeuleu/badges/micro" alt="Mon profile CodeWars"
         width="264" height="28">
</a>


<style>
  .social-img {
    max-width  : 32px;
    max-height : 32px;
  }

  .codewars {
      margin-top : 1em;
  }

  .socials {
    display         : flex;
    justify-content : center;
    align-items     : center;
    gap             : .5em;
    align-self      : center;
  }
</style>