---


---

<div class="socials">
    <a href="/" aria-label="Voir ma page linked in">
        <img src="/logo/linkedIn.svg" alt="logo linked in" width="64" height="64" loading="lazy">
    </a>
    <a href="/" aria-label="Visitez ma page github">
        <img class="header__socials--img" src="/logo/github.svg" alt="logo github" width="64" height="64" loading="lazy">
    </a>
</div>


<style>
  img {
    max-width  : 32px;
    max-height : 32px;
  }

  .socials {
    display         : flex;
    justify-content : center;
    align-items     : center;
    gap             : .5em;
    align-self      : center;
  }
</style>