---
import Layout          from "./Layout.astro"
import Breadcrumbs     from "../components/shared/Breadcrumbs.astro";
import BreadcrumbsItem from "../components/shared/BreadcrumbsItem.astro";
import { Image }       from "astro:assets"

interface Props {
  titre: string;
  description: string;
  blogTitle: string;
  src: any;
  alt: string;
  techstack:string[];
  date: string;
  id:string
}

const { titre, description, blogTitle, src, alt, techstack, date, id } = Astro.props;
---

<Layout titre={ titre } description={ description }>
    <div class="main" transition:animate="fade">
        <Breadcrumbs>
            <BreadcrumbsItem
                    href="/"
                    label="Page d'accueil"
            />
            <BreadcrumbsItem
                    href="/projets/"
                    label="Mes articles"
            />
            <BreadcrumbsItem
                    currentPage={ true }
                    label={ titre }
            />
        </Breadcrumbs>
        <article>
            <section class="hero">
                <div class="tag" >
                    { techstack.map((tech) => {
                        return (
                            <Image  src={ `/logo/${ tech.toLowerCase() }.svg` } alt={ tech } width="64"
                                   height="64" transition:name={ `hero-tech-${ tech }-${id}` } />
                        )
                    }) }
                </div>
                <p class="italic">{date}</p>
                <h1 transition:name={ `hero-title-${ titre }` }>{ blogTitle }</h1>
                <Image
                    src={ src }
                    alt={ alt }
                    width="1280"
                    height="720"
                    format="webp"
                    loading="eager"
                    class="hero-image"
                    transition:name={ `hero-image-${ titre }` }
                />
            </section>
            <section class="text">
                <slot/>
            </section>
        </article>
    </div>
</Layout>

<style>
  .main {
    width   : min(100%, 1196px);
    margin  : auto;
    padding : .5em;
  }
  .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1em;

      margin-block : 2em;
  }
  .hero-image {
      height: 150px;
      object-fit: cover;
      object-position: top left;
  }
  .tag {
      color: whitesmoke;
      text-decoration: none;
      padding: 1em 4em;
      font-size: 1rem;
      border-radius: 3px 3px 0 0;
      background : var(--nord6);
      width : 100%;

      display         : flex;
      justify-content : center;
      align-items     : center;
  }
  .tag img {
      width: 32px;
      height: 32px;
  }

  article {
      background : var(--accentBackgroundColor);
      border-radius: 5px;
  }

  .text {
      padding : 1em;
  }

  h1 {
    font-size : 2em;
      color     : var(--textColor);
      padding-inline : 1em;
  }

  @media only screen and (min-width: 400px){
      .tag img {
          width: 48px;
          height: 48px;
      }
      .hero-image {
          height: 250px;
      }
  }

  @media only screen and (min-width: 600px) {
      .hero-image {
          height: 350px;
      }
  }
  @media only screen and (min-width: 900px) {
      .hero-image {
          height: 450px;
      }
  }
</style>