---
import { ViewTransitions } from "astro:transitions"
import Header              from "../components/shared/Header.astro";
import Footer              from "../components/shared/Footer.astro";
interface Props {
  titre: string;
  description: string;
}

const { titre, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={ description }/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/logo/contact.svg"/>
    <meta name="generator" content={ Astro.generator }/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <title>Billy Klotz | {titre}</title>
    <ViewTransitions/>
</head>
<body transition:animate="slide">
<Header/>
    <slot/>
<Footer/>
</body>
</html>
<style is:global lang="scss">


  :root {
    --accent       : 136, 58, 234;
    --accent-light : 224, 204, 250;
    --accent-dark  : 49, 10, 101;
  }

  *,
  *::before,
  *::after {
    box-sizing : border-box;
    margin     : 0;
    padding    : 0;
  }

  html {
    --nord0                 : #2E3440;
    --nord1                 : #3B4252;
    --nord2                 : #434C5E;
    --nord3                 : #4C566A;
    --nord4                 : #D8DEE9;
    --nord5                 : #E5E9F0;
    --nord6                 : #ECEFF4;
    --nord7                 : #8FBCBB;
    --nord8                 : #88C0D0;
    --nord9                 : #81A1C1;
    --nord10                : #5E81AC;
    --nord11                : #BF616A;
    --nord12                : #D08770;
    --nord13                : #EBCB8B;
    --nord14                : #A3BE8C;
    --nord15                : #B48EAD;

    --backgroundColor       : #FFFFFF;
    --accentBackgroundColor : var(--nord6);
    --backgroundUI          : var(--nord2);
    --textColor             : var(--nord0);
    --accentTextColor       : var(--nord2);
    --contrastTextColor     : var(--nord8);
    --contrastTextColor2    : var(--nord15);

    background-color        : var(--backgroundColor);

    color                   : var(--textColor);
    transition              : background-color 100ms ease-in-out, color 100ms ease-in-out;
  }

  html.dark {
      --backgroundColor       : var(--nord0);
      --accentBackgroundColor : var(--nord1);
      --backgroundUI          : var(--nord4);
      --textColor             : var(--nord5);
      --accentTextColor       : var(--nord6);
      --contrastTextColor     : var(--nord8);
      --contrastTextColor2    : var(--nord15);
  }


  body {
    line-height            : 1.5;
    -webkit-font-smoothing : antialiased;
  }


  img,
  picture,
  video,
  canvas,
  svg {
    display   : block;
    max-width : 100%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li,
  button,
  input,
  textarea,
  label {
    overflow-wrap : break-word;
    font-family   : "Montserrat", sans-serif;
    color         : inherit;
    font-size     : 1.1em;
  }

  a:hover {
    color : var(--contrastTextColor2);
  }

  ul {
    list-style-type : none;
  }

  button {
    cursor : pointer;
  }

  .bold {
    font-weight : 600;
  }

  .italic {
    font-style : italic;
  }

  .disabled-link {
      pointer-events: none;
  }

</style>
