---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { Image }     from "astro:assets"

import heroImage        from "../../assets/projets/educa/educa-home.png"
import exploreImage     from "../../assets/projets/educa/educa-astro-accueil.png"
import inscriptionImage from "../../assets/projets/educa/educa-mern-inscription.png"
import modifierImage    from "../../assets/projets/educa/educa-mern-modifier.png"
import dashboardImage   from "../../assets/projets/educa/educa-mern-dashboard.png"
import validationImage  from "../../assets/projets/educa/educa-mern-validation.png"
---

<ProjectLayout titre="Educa"
               description="Article descriptif de mon projet fullstack 'Educa'"
               blogTitle="Educa: Explore, Expand, Extract en resumé"
               src={ heroImage }
               alt="Educa, page d'accueil"
               techstack={ ["AstroJS", "React", "MongoDB"] }
>
    <ul class="links">
        <li>
            <a href="https://www.overleaf.com/read/xtpmgddvrpyv" target="_blank">Lien vers mon dossier projet rédigé sur
                                                                                 overleaf
            </a>
        </li>
        <li>
            <a href="https://www.canva.com/design/DAFdWpws8Xc/LzUMAuaYPHwSa08FGteiZQ/view?utm_content=DAFdWpws8Xc&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
               target="_blank">Lien vers ma présentation canva
            </a>
        </li>
        <li>
            <a href="https://github.com/beuleubeuleu/Educa/tree/main" target="_blank">Lien vers le repo github-Explore
            </a>
        </li>
        <li>
            <a href="https://github.com/beuleubeuleu/Educa-MERN" target="_blank">Lien vers le repo github-Expand</a>
        </li>
        <li>
            <a href="/projets/educa#TLDR/">TLDR</a>
        </li>
    </ul>


    <p>
        Educa est le projet que j'ai développé pour valider ma certification développeur web•web mobile. Je me met
        dans la peau d'un professeur de mathématiques qui souhaite partager ses connaissances sur internet.
    </p>
    <p>
        L’évolution du projet se base sur la méthode Explore, Expand, Extract de Kent Beck.
    </p>
    <p>
        Suivant la maturité d’un projet, les critères de décision concernant l’architecture de l’application
        sont différents. Le projet de certification que j’ai choisi a pour but de mettre en lumière ces différences
        dans un projet moderne (numérique responsable) qui passerait par les trois étapes suivantes du
        cycle de vie d’un produit.
    </p>
    <h2>Explore</h2>
    <p>
        Dans la première phase, dite d'exploration, l’objectif principal est d’explorer le domaine et de
        comprendre les besoins du système. Cela implique une exploration approfondie des besoins des utilisateurs,
        des contrainte techniques et des objectifs de projet. L’accent est mis sur l’acquisition de connaissances et la
        recherche de solutions adaptées.
    </p>
    <div class="textAndImage">
        <div class="text">
            <p>
                Le but premier du site est de partager les connaissances du professeur, on va donc permettre au
                professeur
                d'écrire des articles en format markdown et générer sur le blog les cartes et les pages correspondantes.
                Pour améliorer l'expérience des élèves sur le site, j'ai aussi développé un système de quiz généré à
                partir
                d'un fichier JSON à l'aide de javascript.
            </p>
            <p> En conclusion, la phase Explore m’a permis de développer un blog AstroJS en offrant
                des fonctionnalités avancées. L'augmentation des visites/mois ont confirmé la nécessité de
                passer à la phase Expand, où je pourrai exploiter tout le potentiel de la stack MERN pour développer une
                application web plus riche, évolutive et personnalisée.</p>
        </div>
        <Image width="820" height="1180" src={ exploreImage }
               alt="page d'accueil du site lors de la phase explore" format="webp"></Image>
    </div>
    <h2>Expand</h2>
    <p>
        Une fois que la phase d’exploration est terminée, la phase d’extension consiste à ajouter des fonctionnalités
        et à étendre les capacités du logiciel. Cela peut inclure la création de nouvelles fonctionnalités,
        l’amélioration des fonctionnalités existantes et l’adaptation aux changements et aux évolutions du domaine.
        L’objectif est de répondre aux besoins des utilisateurs de manière itérative et incrémentale.
    </p>
    <p>
        Pour commencer la refonte de l'application, j'ai identifié plusieurs cas d'utilisation:
    </p>
    <ul class="allUsecases">
        <li>
            En tant qu'utilisateur je peux:
            <ul class="usecases">
                <li>voir les articles publiés</li>
                <li>voir les catégories</li>
                <li>voir les article publiés filtrés par catégorie</li>
                <li>voir les article publiés filtrés par auteur</li>
            </ul>
        </li>
        <li>
            En tant que professeur je peux:
            <ul class="usecases">
                <li>écrire de nouveaux articles en tant que brouillons</li>
                <li>voir tous mes articles, publiés ou brouillons</li>
                <li>modifier mes articles existants</li>
                <li>publier des articles</li>
                <li>supprimer mes articles</li>
            </ul>
        </li>
        <li>
            En tant qu'administrateur je peux:
            <ul class="usecases">
                <li>voir le nombre d'utilisateurs inscrits sur le site</li>
                <li>voir le nombre total d'articles ainsi que le nombre d'articles publiés</li>
                <li>valider le statut d'un professeur en attente de confirmation</li>
            </ul>
        </li>
    </ul>
    <div class="gallery">
        <Image width="585"
               height="1266"
               src={ inscriptionImage }
               alt="page d'accueil du site lors de la phase explore"
               format="webp"></Image>
        <Image width="585"
               height="1266"
               src={ modifierImage }
               alt="page de modification d'un article par un utilisateur connecté en tant que professeur"
               format="webp"></Image>
        <Image width="675"
               height="900"
               src={ validationImage }
               alt="page de validation des professeurs par un administrateur"
               format="webp"></Image>
        <Image width="585"
               height="1266"
               src={ dashboardImage }
               alt="états de santé du site sur la page tableau de bord"
               format="webp"></Image>
    </div>
    <h2>Extract</h2>
    <p>
        La phase d’extraction se concentre sur l’extraction des connaissances et des bonnes pratiques acquises lors des
        phases précédentes. Il s’agit de capturer les modèles, les meilleures pratiques, les composants réutilisables et
        les leçons apprises. Cette phase vise à consolider et à formaliser les connaissances acquises afin de les rendre
        réutilisables dans d’autres projets ou contextes. Cette approche de Kent Beck peut être appliquée dans
        différents contextes de développement logiciel, et elle offre une perspective intéressante pour gérer
        efficacement l’évolution des systèmes.
    </p>
    <p>
        Cependant, dans le contexte de mon projet "Educa", je dois admettre que la phase d'extraction n'a pas été menée
        à son terme, et la transformation prévue en une plateforme d'éducation sociale n'a pas eu lieu. Comme ce projet
        a été réalisé individuellement dans le cadre de mes études, j'ai dû gérer des contraintes de temps et de
        ressources limitées, ce qui a parfois rendu la réalisation complète du projet difficile.
    </p>
    <p>
        Un exemple notable de cette évolution est notre blog initial sur Educa. À l'origine, j'avais planifié des
        fonctionnalités et des user stories spécifiques pour le blog, mais au fil du temps, ma vision s'est élargie, et
        une transformation en une plateforme d'éducation sociale était envisagé.
    </p>
    <p>
        Quelques exemples de user stories qui ont évolué pendant cette phase d'expansion tronquée incluent :
    </p>
    <ul>
        <li>
            <ul class="userStory">
                <li><span class="bold">Objectif:</span>Les professeurs peuvent créer des articles de blog</li>
                <li><span class="bold">Évolution (non réalisée):</span>Les professeurs auraient dû pouvoir créer des
                                                                       articles, mais aussi des cours en ligne complets
                                                                       avec modules, des quiz, et des espaces de
                                                                       discussion pour une expérience d'apprentissage
                                                                       interactive
                </li>
            </ul>
        </li>
        <li>
            <ul class="userStory">
                <li><span class="bold">Objectif:</span>Les utilisateurs peuvent voir les articles publiés.</li>
                <li><span class="bold">Évolution (non réalisée):</span> Les utilisateurs auraient dû pouvoir voir les
                                                                        articles, mais aussi les aimer, recommander des
                                                                        cours,
                                                                        noter les instructeurs, et suivre des profils
                                                                        d'experts en éducation.
                </li>
            </ul>
        </li>
    </ul>
    <p>
        Ces évolutions montrent comment l'expérience utilisateur et la valeur du projet auraient pu s'enrichir si
        j'avais eu plus de temps et de ressources pour le développer davantage. Cela souligne également l'importance de
        gérer les contraintes dans le cadre d'un projet étudiant, où les idées et les objectifs évoluent en fonction des
        ressources disponibles.
    </p>
    <h2 id="TLDR">Too Long Didn't Read:</h2>
    <p>
        En résumé, le projet "Educa" a été développé pour valider ma certification de développeur web et web mobile. Il
        suit la méthodologie "Explore, Expand, Extract" de Kent Beck pour évoluer en fonction de la maturité du projet.
    </p>
    <p>
        La phase d'exploration a permis la création d'un blog AstroJS, tandis que la phase d'extension a ajouté de
        nombreuses fonctionnalités, répondant aux besoins des utilisateurs. Cependant, la phase d'extraction, visant à
        formaliser les connaissances acquises, n'a pas été menée à bien en raison de contraintes de temps et de
        ressources. Malgré cela, le projet illustre les défis et les opportunités du développement web, soulignant
        l'importance de l'adaptation dans le processus de développement.
    </p>
</ProjectLayout>

<style>
  p, ul {
    margin    : auto auto 1em;
    max-width : 800px;
  }

  h2 {
    text-align : center;
    margin     : 2em auto 1em;
  }

  .allUsecases {
    font-weight : 600;
  }

  .usecases {
    font-weight     : 400;
    list-style-type : "-";
  }

  .textAndImage {
    display         : flex;
    justify-content : center;
    align-items     : center;
    gap             : 1em;
    flex-direction  : column;

    max-width       : 800px;
    margin          : auto auto 1em;
  }

  .textAndImage p {
    margin     : 0 0 1em;
    align-self : flex-start;
  }

  .textAndImage img {
    width  : min(100%, 350px);
    height : auto; /* Maintain aspect ratio */
  }

  .gallery {
    max-width       : 72ch;
    margin          : 1em auto;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-wrap       : wrap;
    gap             : 2em;
  }

  .gallery img {
    object-fit : cover;
    width      : 250px;
    height     : auto;
  }

  #TLDR {
    position   : relative;
    margin-top : 60px;
  }
  #TLDR::before {
    content : "";
    display : block;
    height  : 60px;
  }

  .links {
      margin-bottom: 2em;
  }
  .links li {
      margin-top : .2em;
  }

  @media only screen and (min-width : 800px) {
    .textAndImage {
      flex-direction : row;
    }
  }
</style>