---
import Layout          from "../../layouts/Layout.astro";
import Breadcrumbs     from "../../components/shared/Breadcrumbs.astro";
import BreadcrumbsItem from "../../components/shared/BreadcrumbsItem.astro";
import ProjetCard      from "../../components/projets/ProjetCard.astro";

import atikeHome   from "../../assets/projets/atike/atike-home.png"
import educaHome   from "../../assets/projets/educa/educa-home.png"
import nohasbaHome from "../../assets/projets/nohasba/nohasba-home.png"


const myProjects = [
  {
    titre: "Atikè",
    techStack: ["AstroJS", "AWS"],
    href: "/projets/atike",
    img: atikeHome,
    description: "E-commerce"
  },
  {
    titre: "Educa",
    techStack: ["AstroJS", "React", "MongoDB"],
    href: "/projets/educa",
    img: educaHome,
    description: "Blog"
  },
  {
    titre: "NoHasba",
    techStack: ["React", "MySQL"],
    href: "/projets/nohasba",
    img: nohasbaHome,
    description: "Gestionnaire de dépenses"
  }
]
---

<Layout titre="Mes projets" description="Découvrez mes projets en exposition">

    <main transition:animate="fade">
        <Breadcrumbs>
            <BreadcrumbsItem
                    href="/"
                    label="Page d'accueil"
            />
            <BreadcrumbsItem
                    currentPage={ true }
                    href="/projets"
                    label="Mes projets"
            />
        </Breadcrumbs>
        <h1>Mes Projets</h1>
        <section>
            <ProjetCard title={ myProjects[0].titre }
                        img={ myProjects[0].img }
                        desc={ myProjects[0].description }
                        techstack={ myProjects[0].techStack }
                        url={ myProjects[0].href }/>
            <ProjetCard title={ myProjects[1].titre }
                        img={ myProjects[1].img }
                        desc={ myProjects[1].description }
                        techstack={ myProjects[1].techStack }
                        url={ myProjects[1].href }/>
            <ProjetCard title={ myProjects[2].titre }
                        img={ myProjects[2].img }
                        desc={ myProjects[2].description }
                        techstack={ myProjects[2].techStack }
                        url={ myProjects[2].href }/>
        </section>
    </main>
</Layout>

<style>
  main {
    width   : min(100%, 1196px);
    margin  : auto;
    padding : .5em;
  }

  h1 {
    font-size : 2em;
      color     : var(--textColor);
  }

  section {
    display         : flex;
    justify-content : center;
    align-items     : center;
    gap             : 1em;
    flex-wrap       : wrap;
  }
</style>
